@page "/resx-manager"
@inherits FluxorComponent

<PageTitle>@Loc["ResxManager"]</PageTitle>

<h1>Resx Manager</h1>

<FluentStack>
    <FluentSelect Items="_handles" Multiple="true"
                  OptionText="@(handle => handle.Name)"/>
</FluentStack>